.card_account {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 28px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    border: 1px solid #dadada;
    padding-bottom: 50px;
    margin-top: 3vh;
    background-color: white;
}