.summary_container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 3vh;
}

.summary_container:last-of-type {
    margin-bottom: 3vh;
}