.icon_container {
    position: relative;
    height: 51px;
    width: 51px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 5px 30px 0 rgba(178, 178, 178, .16);
    border: 1px solid rgba(32, 14, 50, .14);
    margin-left: auto;
    margin-right: auto;
}

.icon_container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
    .icon_container {
        width: 120px;
        height: 120px;
    }

    .icon_container img {
        aspect-ratio: 1;
        width: 90px;
    }
}

