#active {
    filter: brightness(0) saturate(100%) invert(73%) sepia(47%) saturate(5648%) hue-rotate(187deg) brightness(102%) contrast(102%);

}

#default {
    filter: brightness(0) saturate(100%) invert(7%) sepia(30%) saturate(4683%) hue-rotate(224deg) brightness(81%) contrast(105%);
    opacity: .8;
}