.active {
    filter: brightness(0) saturate(100%) invert(73%) sepia(47%) saturate(5648%) hue-rotate(187deg) brightness(102%) contrast(102%);

}

.default {
    filter: brightness(0) saturate(100%) invert(7%) sepia(30%) saturate(4683%) hue-rotate(224deg) brightness(81%) contrast(105%);
    opacity: .8;
}

#home {
    width: 88px;
}

#pantry {
    width: 96px;
}

#recipes {
    width: 93px;
}

#account {
    width: 77px;
}

#timer {
    width: 54px;
}

#peso {
    width: 72px;
}

#quantità {
    width: 46px;
}