.card {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 30px 0 rgb(178 178 178 / 20%);
    background-color: white;
    border-radius: 15px;
    margin-bottom: 3vh;
    border: 1px solid rgb(139 124 124 / 27%);
}

.card:last-of-type {
    margin-bottom: 120px;
}